*{
	font-family: 'Open Sans', sans-serif;
}
	
.category{
	min-height: 300px;
	height:auto;
}
.event{
	margin: 0px 10px;
	padding:10px;
	background-color: white;
}
.event_back{
	margin: 0px 10px;
	padding:10px;
	background-color: #e0bcdd;
}
.organizer_info{
	padding: 10px 30px;
}
.want_in_button{
}
ul{
	text-align: center;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;

}
li a {
    color: #666;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    height: 67px;
    font-size: 40px;
    margin: 0px;
    background-color: #c2d4d8;
}

li a:hover{
	background-color: #f2efe8;

}
.sidebar{	
	height: 160em;
	margin-right: -100px;
}
img.homeevent{
	width: 100em;

}
.event_title{
	color: black;

}
.sec{
	background-color: #ecf0f1;
	padding: 10px 20px;
}
.sec_title{
	background-color: orange;
}
body{
	background-color: #ffffff;
	margin: 0px;
}
#heading{
	background-color: #ae89af;
	margin: 0px;
}
input.more{
	width:10em;
	height:20em;
	padding:10px;
}
#title_row{

}
