.event{

}
ul{
	text-align: center;
	list-style: none;
	position: fixed;
	width: 180px;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.sidebar:hover{
	background-color: #ddd;
}
img.homeevent{
	width: 100%;

}
.event_title{

}
.sec{
	background-color: white;
	padding: 10px 20px;
}
body{
	background-color: #d9d9d9;
}