.event{
	margin: 0px 10px;
	padding:10px;
	background-color: white;
}
ul{
	text-align: center;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: fixed;
}
li a {
    display: block;
    color: #666;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    font-size: 40px;
    margin: 10px;
    background-color: #c2d4d8;
}

a.sidebar:hover{
	background-color: #f2efe8;

}
.sidebar{	
	

}
img.homeevent{
	width: 100%;

}
.event_title{
	color: black;

}
.sec{
	background-color: #c2d4d8;
	padding: 10px 20px;
}
body{
	background-color: #f2efe8;
	margin: 0px;
}
#heading{
	background-color: #9ad3de;
	margin: 0px;
}
